<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>PinTec Project</title>
    <link
      href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css"
      rel="stylesheet"
    />
    <link href="{% static 'bootstrap/css/styles.css' %}" rel="stylesheet" />
    <script
      src="https://use.fontawesome.com/releases/v6.1.0/js/all.js"
      crossorigin="anonymous"


    ></script>
  </head>
  <body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
      <!-- Navbar Brand-->
      <a class="navbar-brand ps-3" href="/price_predict">PinTec </a>
      <!-- Sidebar Toggle-->
      <div style="width: 100%">
        <button
          style="float: right, padding"
          class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0"
          id="sidebarToggle"
          href="/price_predict"
        >
          <i class="fas fa-bars"></i>
        </button>
      </div>
      <!-- Navbar-->
    </nav>
    <a href="https://pf.kakao.com/_NjJxixj">
      <img id="kakaofriend" src="{% static 'bootstrap/image/kakao.jpg' %}" > 
    </a>
    <div id="layoutSidenav">
      <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
          <div class="sb-sidenav-menu">
            <div class="nav">
              <div class="sb-sidenav-menu-heading">농산물 가격 비교</div>
              <a class="nav-link" href="/price_predict">
                <div class="sb-nav-link-icon">
                  <i class="fas fa-tachometer-alt"></i>
                </div>
                법인별 가격
              </a>
              <div
                class="collapse"
                id="collapseLayouts"
                aria-labelledby="headingOne"
                data-bs-parent="#sidenavAccordion"
              >
              </div>
            </div>
          </div>
        </nav>
      </div>
      <div id="layoutSidenav_content">
        <main>
          <div class="container-fluid px-4">
            <h1 class="mt-4">법인별 농산물 가격 비교</h1>
            <form action="" method="get" id="checkform">
              <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active">
                  현재 법인
                  <p>
                    <select id="company-list" name="company-list">
                      <option value="중앙청과" selected>중앙청과</option>
                      <option value="서울청과">서울청과</option>
                      <option value="동화청과">동화청과</option>
                      <option value="농협가락(공)">농협가락(공)</option>
                      <option value="한국청과">한국청과</option>
                    </select>
                  </p>
                </li>
                <li class="breadcrumb-item active">품목
                  <p>
                    <select id="item-list">
                      <option value="새송이" selected>새송이</option>
                      <option value="풋고추">풋고추</option>
                    </select>
                  </p>
                </li>
                <li class="breadcrumb-item active">
                  세부 품목
                  <p>
                    <select id="itemdetail-list">
                      <option value="새송이(일반)" selected>새송이(일반)</option>
                      <option value="청양">청양</option>
                    </select>
                  </p>
                </li>
                <li class="breadcrumb-item active">
                  등급
                  <p>
                    <select id="level-list">
                      <option value="특" selected>특</option>
                    </select>
                  </p>
                </li>
                <button id='btn' name='btn' value='' href="/predict0">선택</button>
              </ol>
            </form>
            <hr />
            <div class="row">
              <div class="col-xl-7">
                <div class="card mb-5" style="width: 90%">
                  <div class="card-header">
                    <i class="fas fa-chart-bar me-1"></i>
                    오늘 판매가와 예측가
                  </div>
                  <div class="card-body">
                    <canvas id="myBarChart" width="100%" height="40"></canvas>



                  </div>
                </div>
              </div>
              <div class="col-xl-5">
                <div class="card mb-3" id="resultbox" style="width: 80%">
                  <div id="dates">
                  </div>
                  <div class="error">
                    (예측값-실제값) <span id="errorval"></span>
                  </div>
                  <p class="price">
                    <ul id="pricelist" style="list-style-type: square;">
                      <li id="predit"><예측값 : 1,500></li>
                      <li id="avg">실제 평균가 : 1,000</li>
                      <li id="max">실제 최고가 : 1,200</li>
                      <li id="min">실제 최저가 : 800</li>
                    </ul>
                  </p>
                  <p id="result">  
                    
                  </p>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xl-6">
                <div class="card mb-4">
                  <div class="card-header">
                    <i class="fas fa-chart-area me-1"></i>
                    일주일 간 변동량
                  </div>
                  <div class="card-body">
                    <canvas id="myAreaChart" width="100%" height="40"></canvas>
                  </div>
                </div>
              </div>
              <div class="col-xl-6">
                <div class="card mb-4">
                  <div class="card-header">
                    <i class="fas fa-chart-area me-1"></i>
                    법인별 실제 평균값
                  </div>
                  <div class="card-body">
                    <canvas id="companyChart" width="100%" height="40"></canvas>
                  </div>
                </div>
              </div>
            </div>
            <div class="card mb-4">
              <div class="card-header">
                <i class="fas fa-table me-1"></i>
                현재 법인 거래 목록
              </div>
              <div class="card-body">
                <table id="datatablesSimple">
                  <thead>
                    <tr>
                      <th>날짜</th>
                      <th>시장</th>
                      <th>법인</th>
                      <th>폼목</th>
                      <th>품질</th>
                      <th>무게</th>
                      <th>최고가</th>
                      <th>최소가</th>
                      <th>평균가</th>
                      <th>예측가</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>날짜</th>
                      <th>시장</th>
                      <th>법인</th>
                      <th>폼목</th>
                      <th>품질</th>
                      <th>무게</th>
                      <th>최고가</th>
                      <th>최소가</th>
                      <th>평균가</th>
                      <th>예측가</th>
                    </tr>
                  </tfoot>
                  <tbody>
                    {% if price_info %}
                    {% for info in price_info %}
                      <tr>
                          <td>{{info.DELNG_DE}}</td>
                          <td>{{info.MRKT_NM}}</td>
                          <td>{{info.CPR_NM}}</td>
                          <td>{{info.PRDLST_NM}}</td>
                          <td>{{info.GRAD}}</td>
                          <td>{{info.weight}}</td>
                          <td>{{info.PRI_MAX}}</td>
                          <td>{{info.PRI_MIN}}</td>
                          <td>{{info.PRI_AVE}}</td>
                          <td>{{info.PRI_PRED}}</td>
                      </tr>
                    {% endfor %}
                    {% endif %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </main>
        <footer class="py-4 bg-light mt-auto">
          <div class="container-fluid px-4">
            <div
              class="d-flex align-items-center justify-content-between small"
            >
              <div class="text-muted">Copyright &copy; Your Website 2022</div>
              <div>
                <a href="#">Privacy Policy</a>
                &middot;
                <a href="#">Terms &amp; Conditions</a>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>

    <div></div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      crossorigin="anonymous"
    ></script>

    <script src="{% static 'bootstrap/js/script.js' %}"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="{% static 'bootstrap/assets/demo/chart-area-demo.js' %}"

    ></script>
    <script src="{% static 'bootstrap/assets/demo/chart-bar-demo.js' %}"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/simple-datatables@latest"
      crossorigin="anonymous"
    ></script>
    <script src="{% static 'bootstrap/js/datatables-simple-demo.js' %}"></script>
    <script src="{% static 'bootstrap/js/scripts.js' %}"></script>
  </body>
</html>
